<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">AWF Mobile Concours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="preavis">
    <img src="../../assets/icon/aficheconcours.png" alt="image" style="text-align:center;display:block;margin:0 auto;width:100%;" height="180" />
    <h1>MOBILE FILM.</h1>
    <p>Consolider la paix en Afrique par l’innovation et l’entrepreneuriat</p>
    <p>
      Bien que les guerres et conflits aient diminué, les Africains sont confrontés au défi de la « consolidation de la paix ». <br>
      AWF encourage la production de courtes vidéos amateurs, qui expriment la créativité de la jeunesse Africaine, une créativité en lien avec la thématique 2018 du festival. <br>
      Exprime-toi !
    </p>
    <button class="bouton" style="margin-right:8px;" (click)="versRegle()">REGLEMENT</button>
    <button class="bouton" (click)="versInscription()">INSCRIS-TOI</button>
  </div>
  <div class="footer">
      Copyright © AWF2018. Développé par: Genesis NaN
  </div>
</ion-content>
