<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">AWF Mobile Concours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="preavis">
    <h1>MOBILE FILM.</h1>
    <p>Consolider la paix en Afrique par l’innovation et l’entrepreneuriat</p>
    <p>
      Bien que les guerres et conflits aient diminué, les Africains sont confrontés au défi de la « consolidation de la paix ». <br>
      AWF encourage la production de courtes vidéos amateurs, qui expriment la créativité de la jeunesse Africaine, une créativité en lien avec la thématique 2018 du festival. <br>
      Exprime-toi !
    </p>
    <button class="bouton" style="margin-right:8px;" (click)="versRegle()">REGLEMENT</button>
    <button class="bouton" (click)="versInscription()">INSCRIT-TOI</button>
  </div>
  <div class="footer">
    <img src="../../assets/icon/logo.png" alt="image_logo" class="img_logo"/>
    <p class="boxed-text center-text">
      Chaque jours qui passe, nous reflechissons pour vous simplifier la vie !
    </p>
    <div class="footer-socials">
      <a href="https://www.facebook.com/enabled.labs/" class="facebook-bg"><i class="fa fa-facebook"></i></a>
      <a href="https://plus.google.com/u/2/105775801838187143320" class="google-bg"><i class="fa fa-google-plus"></i></a>
      <a href="https://twitter.com/iEnabled" class="twitter-bg"><i class="fa fa-twitter"></i></a>
      <a href="tel:+1-234-567-8901" class="phone-bg"><i class="fa fa-phone"></i></a>
      <a href="mailto:name@domain.com" class="mail-bg"><i class="fa fa-envelope"></i></a>
      <div class="clear"></div>
    </div>
    <div class="decoration decoration-margins"></div>
    <br>
    <p class="center-text">&copy; All rights reserved 2018 AWF.</p>
    <p class="center-text">Designed by Genesis NaN.</p>
</div>
</ion-content>
