<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Inscrivez-vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 class="titre">LES INSCRIPTIONS SONT OUVERTES DU 15 SEPTEMBRE AU 20 OCTOBRE 2018</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-card>
              <ion-card-header>
                  INSCRIVEZ-VOUS <br>
                  DATE LIMITE:20 OCTOBRE 2018
              </ion-card-header>
              <ion-card-content>
                  <button class="bouton" style="margin-bottom:5px;">Conditions générales</button>
                  <button class="bouton" (click)="formMobile()">Formulaire d'inscription</button>
              </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
