<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login">
    <img src="../../assets/icon/logo.png" height="90" width="150" alt="" class="logo">
    <div class="connection">
      <h1>Connectez-vous</h1>
      <p>Connectez-vous pour avoir accés au contenu de l'AWF2018</p>
      <button class="boutonFbk"><ion-icon name="logo-facebook"></ion-icon> Connectez vous via facebook</button>
      <button class="boutonGoo"><ion-icon name="logo-google"></ion-icon> Connectez vous via Google</button>
      <form (ngSubmit)="logForm()">
          <ion-item>
            <ion-label>Votre email</ion-label>
            <ion-input type="email" [(ngModel)]="user.mail" name="mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Votre mot de passe</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
          </ion-item>
          <button type="submit" class="btnConnect" (click)="allerVers('/tabs')">Connexion</button>
        </form>
        <div class="leftside">
          <a href=""> <span>Mot de passe oublié ?</span></a>
        </div>
        <p class="registerP">Vous n'avez pas de compte ? <button (click)="allerVers('/register')">Inscrivez-vous ici !</button> </p>
    </div>
    
    <br>
    <br>
    <p class="copyright">Copyright © AWF2018. Développé par: Genesis NaN</p>
  </div>
</ion-content>
