.bouton{
    color: rgb(253, 253, 253);
    background-color: rgb(231, 87, 87);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 6px;
}
.footer{
    margin-top: 5px;
    padding: 16px;
    background-color: rgb(56, 56, 56);
    color: rgb(206, 203, 203);
    text-align:center;
}