<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">AWF ACTU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:16px;">
      <ion-card *ngFor="let article of actualites" (click)="goTo(article)">
    <ion-card-header>
      <ion-img src="../../assets/icon/{{article.image}}"></ion-img>
      <h2>{{article.titre}}</h2>
      <ion-card-title>{{ article.preview }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>{{ article.description }}</p>
      <ion-item><ion-icon name="text"></ion-icon> {{ lastUpdate | date }}</ion-item>
    </ion-card-content> 
  </ion-card>
  </div>
  <div class="footer">
      <p>Copyright © AWF2018. Développé par: Genesis NaN</p>
  </div>
</ion-content>