<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">REGLEMENT CONCOURS MOBILE AWF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="regles">
    <h1 class="titre">REGLEMENT DU JEU CONCOURS AWF MOBILE FILM</h1>

      <h1>Article 1 : CONTEXTE</h1>
      
      <p>Du 28 Novembre au 1er Décembre 2018, se tiendra à Abidjan un évènement numérique dénommé « <b>Africa Web Festival</b> » en abrégé <b>AWF</b>.
      </p>
      <p>Il s’agit d’une plateforme numérique réunissant des conférences, des ateliers, des formations, des hackathons et un concours numérique.
      </p>
      <p>Avant la tenue de l’évènement, le jeu concours vidéo AWF, dénommé AWF MOBILE FILM est une activité lancée sur Facebook. Elle encourage la production de courtes vidéos amateurs, qui exprime la créativité de la jeunesse Africaine, une créativité en lien avec les thématiques du festival 2018 « Consolider la Paix en Afrique par l’innovation et l’entrepreneuriat ».
      </p>
      <p>Le présent règlement a pour objet de définir les conditions et modalités de participation du jeu concours AWF MOBILE FILM.
      </p>

      <h1>Article 2 : ORGANISATRICE</h1>
      
      <p><b>MANDINGO</b>, régie publicitaire au capital de 1.000.000 FCFA, dont le siège social est situé à Abidjan-Cocody rue du lycée technique, immatriculée sous le numéro CI ABJ N° 2013-M-7581, est l’organisatrice de l’évènement <b>AFRICA WEB FESTIVAL</b>.
      </p>
      <p><b>AFRICA WEB FESTIVAL</b> dispose à ce titre, des droits exclusifs définis dans les dispositions ci-dessous.
      </p>

      <h1>Article 3 : PARTICIPATION AU JEU CONCOURS AWF MOBILE FILM</h1>
      <p>Le jeu concours est gratuit, ouvert à toute personne physique, majeure ainsi que les mineurs avec autorisation de leur représentant légal, à l’exception du personnel des sociétés organisatrices gestionnaires et de contrôle et de leur famille.
      </p>
      <p>Ces vidéos doivent avoir une durée maximum d’une minute.</p>
      <p>Offres limitées à une seule participation par foyer (même adresse, même nom) sur la durée du jeu. La participation au jeu entraîne l’acceptation pure et simple du présent règlement et le respect des lois et règlements en vigueur sur le territoire Ivoirien.
      </p>
  </div>
  <div class="footer">
      <p>Copyright © AWF2018. Développé par: Genesis NaN</p>
  </div>
</ion-content>
