.img_visuel{
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.img_logo{
    margin-bottom: 8px;
    width: 150px;
    height: 100px;
}
/*Footer*/

.footer{
    padding: 16px;
    background-color: rgb(56, 56, 56);
    color: rgb(206, 203, 203);
    text-align:center;
}
.footer-logo{
	background-repeat: no-repeat;
	background-size:140px 35px;
	width:142px;
	height:35px;
	display:block;
	margin:12px auto 20px auto;
}

.footer-socials a{
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:2px;
	margin-right:2px;
	text-align:center;
	float:left;
}

.footer-socials a{background-color:transparent; border:solid 1px rgba(255,255,255,0.05); box-sizing: border-box;}

.footer-socials{
	width:265px;
	margin:0px auto 30px auto;
}